.item-card {
  background-color: dimgray;
  padding: 1%;
  cursor: pointer;
}

.item-card:hover {
  background-color: darkgray;
}

.detail {
  background-color: dimgray;
}

.item-card img {
  width: 100%;

}

.header {
  margin-bottom: 20px;
}

.filter {
  margin: auto auto 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
