.item-card {
  background-color: dimgray;
  padding: 1%;
  cursor: pointer;
}

.item-card:hover {
  background-color: darkgray;
}

.detail {
  background-color: dimgray;
}

.item-card img {
  width: 100%;

}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
