/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("Rembrandt_van_Rijn-De_Nachtwacht-1642.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  color: black;
  margin: auto;
  height: 100vh;
  width: 80vw;
  padding: 1.5%;

}

.block {
  background-color: darkgray;
  border-radius: 10px;
  padding: 1%;
  width: 100%;
  -webkit-box-shadow: 11px 9px 23px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 9px 23px -5px rgba(0,0,0,0.75);
  box-shadow: 11px 9px 23px -5px rgba(0,0,0,0.75);
}

