/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("Rembrandt_van_Rijn-De_Nachtwacht-1642.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.content {
  color: white;
  margin: auto;
  height: 100vh;
  width: 75vw;
}
.block{
  background-color: #343a40;
  border-radius: 10px;
}
